h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  background-color: #0E121B;
  background-image: url("../../img/elements-lines.png");
  color: #ffffff;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul, li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  background: linear-gradient(273.31deg, #7F1CFC 0.79%, #FF1C60 98.6%);
  border-radius: 50px;
  color: #FFFFFF;
}

.header {
  padding-top: 40px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger-wrapper {
  display: none;
}

.header__burger {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  padding-right: 40px;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #B7C1D8;
}

.header__btn {
  padding: 13px 20px;
}

@media screen and (max-width: 767.99px) {
  .favorites {
    padding-top: 30px;
  }
  .header__btn {
    padding: 10px 15px;
  }
  .nav__item:not(:last-child) {
    padding-right: 30px;
  }
}
@media screen and (max-width: 615px) {
  .btn__wrapper {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__burger-wrapper {
    display: block;
  }
  .burger__nav {
    position: absolute;
    left: -650px;
    top: 0;
    width: 100%;
    background-color: #191F2E;
    z-index: 1;
    padding: 75px 20px 50px 20px;
    transition: transform 0.5s;
  }
  .burger__list {
    margin-left: 50px;
  }
  .header.open .burger__nav {
    transform: translateX(650px);
    z-index: 1;
  }
  .header__burger {
    position: absolute;
    right: 5%;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
    background-color: transparent;
    border: none;
  }
  .burger__item {
    padding-bottom: 20px;
  }
  .burger__btn {
    font-family: "Inter", sans-serif;
    margin-left: 50px;
    padding: 13px 20px;
  }
  .burger__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #B7C1D8;
  }
  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #ffffff;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #ffffff;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.burger__nav.active {
    transform: translateX(100%);
    z-index: 1;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-top: 44px;
  }
}

/*# sourceMappingURL=style.css.map */
