.header {
    padding-top: 40px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__burger{
    display: none;
}
.nav__list {
    display: flex;
}
.nav__item:not(:last-child){
    padding-right: 40px;
}
.nav__link {
    font-family: 'Inter' sans-serif;
    @include fonts(normal, 400, 14px, 1.4);
    color: #B7C1D8;
}
.header__btn {
    padding: 13px 20px;
}

@media screen and (max-width: 767.99px){
    .favorites {
        padding-top: 30px;
    }
    .header__btn {
        padding: 10px 15px;
    }
    .nav__item:not(:last-child){
        padding-right: 30px;
    }
}

@media screen and (max-width: 615px){
    .btn__wrapper{
        display: none;
    }

    .header__nav{
        position: absolute;
        left: -650px;
        top: 0;
        width: 100%;
        background-color: #191F2E;
        z-index: 1;
        padding: 75px 20px 50px 20px; 
        transition: transform .5s;
    }

    .nav__list{
        flex-direction: column;
    }

    .header.open .header__nav{
        transform: translateX(650px);
        z-index: 1;
    }

    .header__burger{
        position: absolute;
        right: 5%;
        display: block;
        width: 30px;
        height: 20px;
        z-index: 4;
        background-color: transparent;
        border: none;
      }

      .nav__item{
        display: block;
      }

      .nav__item:not(:last-child){
        padding-bottom: 20px;
      }

      .nav__link{
        @include fonts(normal, 400, 18px, 1.4);
      }
    
      .header__burger span{
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before,
      .header__burger:after{
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before{
        content: "";
        top: 0;
      }
    
      .header__burger:after{
        content: "";
        bottom: 0;
      }
    
      .header__burger.active:before{
        content: "";
        transform: rotate(45deg);
        top: 9px;
        background-color: #ffffff;
      }
    
      .header__burger.active:after{
        content: "";
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: #ffffff;
    
      }
    
      .header__burger.active span{
        transform: scale(0);
      }

      .header__burger.header__nav.active{
        transform: translateX(100%);
        z-index: 1;
      }
}

@media screen and (max-width: 320px){
    .header {
        padding-top: 44px;
    }
}