h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body{
  box-sizing: border-box;
  position: relative;
  margin: 0;
  background-color: #0E121B;
  background-image: url('../../img/elements-lines.png');
  color: #ffffff;
  // overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul, li{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title{
  font-family: 'Bebas Neue', cursive;
  @include fonts(normal, 700, 72px, 1);
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media(max-width: 767.99px){
  .title{
    @include fonts(normal, 700, 56px, 1);
  }
  
}

@media(max-width: 375px){
  .title{
    @include fonts(normal, 700, 36px, 1);
  }
}